/coverage/
/node_modules/
/test/appsRoot/
/run/
/out/
/config/config.js
/nohup.out
/example-apps/*.tgz
/logs/
/conf/
/test_*
/test/lib/tmp_mount.yaml
tests/mock/.source_maps/
/test/lib/proxy/nginx_error_config
tests/mock/mount/hello.mount.info.yaml
.idea
.DS_Store
.nyc_output
/nginx.conf
.vscode/
/node
test/lib/tmp_mount2.yaml