language: node_js
sudo: false
node_js:
  - "8.9.3"
  - "10"
  - "12"
addons:
  apt:
    packages:
      - nginx
install:
  - echo '-----------------'
  - which nginx
  - npm install -g codecov
script:
  - make codecov
after_script:
  - codecov